
.idea/checkstyle-idea.xml
.idea/description.html
.idea/dictionaries/PsyhoBelka.xml
.idea/misc.xml
.idea/modules.xml
.idea/project-template.xml
.idea/workspace.xml
1.iml
out/production/1/ua/rozhkov/ChessBoard.class
out/production/1/ua/rozhkov/Main.class
